<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>196861477319-tna9n1eussvvfccg5q8mfedgknueb07v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.196861477319-tna9n1eussvvfccg5q8mfedgknueb07v</string>
	<key>API_KEY</key>
	<string>AIzaSyCmN1G4LP80ryHTnr9SYtTD9jWnVPLa_ZE</string>
	<key>GCM_SENDER_ID</key>
	<string>196861477319</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tramos.Snapchat</string>
	<key>PROJECT_ID</key>
	<string>snapchat-35cb6</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-35cb6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:196861477319:ios:81ec7343f82ed2dc</string>
	<key>DATABASE_URL</key>
	<string>https://snapchat-35cb6.firebaseio.com</string>
</dict>
</plist>